{% extends 'base.html' %}

{% block title %}
    Note #{{ note.id }}
{% endblock %}

{% block nav_title %}
    Note #{{ note.id }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col m3" ></div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <a class="btn-floating halfway-fab waves-effect waves-light red btn-large modal-trigger" href="#modal1">
                    <i class="material-icons">delete</i>
                </a>
                <a href="/note/edit/{{ note.id }}" class="btn-floating halfway-fab waves-effect waves-light green btn-large">
                    <i class="material-icons">edit</i>
                </a>
                <div class="card-content white-text">
                    <span class="card-title">{{ note.title }}</span>
                    <p>{{ note.content }}</p>
                </div>
                <div class="card-action">
                    <div class="detail">
                        <i class="material-icons">filter_list</i>
                        <span>{{ note.category.title }}</span>
                    </div>
                    <div class="detail">
                        <i class="material-icons">date_range</i>
                        <span>{{ note.created }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m3" ></div>
    </div>

    <div id="modal1" class="modal ">
        <div class="modal-content">
            <h4>Delete Action</h4>
            <p>Are you sure you want to delete this note?</p>
        </div>
        <div class="modal-footer">
            <a href="/note/delete/{{ note.id }}" class="btn waves-effect waves-light red">Continue</a>
            <a href="#!" class="modal-close btn waves-effect waves-light green">Cancel</a>
        </div>
    </div>
{% endblock %}

{% block init_scipts %}
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
{%  endblock %}